

/**
* Main container wrapper
*/
.wrapper {
  width: 100%;
  /* height: calc(100vh - 67px); */
  height: 100%;
  display: flex; }

/**
* Main canvas where we drag nodes to
*/
#drawflow {
  /* position: relative;
  width: 100%;
  height: 100%; */
  display: flex;
    position: relative;
    width: calc(100vw - 301px);
    height: calc(100% - 50px);
    /* top: 40px; */
    background-size: 25px 25px;
    
    /*
    * background grid lines
    */
    /* background-image:
        linear-gradient(to right, grey 1px, white 1px),
        linear-gradient(to bottom, grey 1px, white 1px); */
}

.col-right {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  /**
  * Checkerboard pattern #a8a8a8
  */
  /* background-color: #bebebe;
  background-image:
    linear-gradient(45deg, white 25%, transparent 25%),
    linear-gradient(-45deg, white 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, white 75%),
    linear-gradient(-45deg, transparent 75%, white 75%);
  background-size: 100px 100px;
  background-position: 0 0, 0 50px, 50px -50px, -50px 0px; */


  /* Grid pattern */
  background-size: 100px 100px;
  background-image: linear-gradient(to right, #e4e4e4 1px, transparent 1px), linear-gradient(to bottom, #e4e4e4 1px, transparent 1px);
}

/**
* Sidenav
*/
.col {
  /* overflow: auto; */
  min-width: 175px;
  /* height: 100%; */
  border-right: 1px solid var(--border-color); }

/**
* Header
*/
/* header {
  height: 66px;
  border-bottom: 1px solid var(--border-color);
  padding-left: 20px; }

header h2 {
  margin: 0px;
  line-height: 66px; }

header a {
  color: black; } */

/**
* Drag items from side nav
*/
.drag-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 175px;
  line-height: 50px;
  border-bottom: 1px solid var(--border-color);
  padding-left: 20px;
  padding-right: 20px;
  cursor: move;
  user-select: none; 
}

/**
* Tab menu
*/
.tab-menu {
  position: relative;
  height: 40px;
  display: block;
  background: rgb(255, 255, 255);
  width: 100%; }

.tab-menu ul {
  padding: 0px;
  margin: 0px;
  line-height: 40px; }

.tab-menu ul li {
  display: inline-block;
  margin-left: 10px;
  border-right: 1px solid var(--border-color);
  padding-right: 10px;
  line-height: 40px;
  cursor: pointer; }

.tab-menu ul li.selected {
  font-weight: bold; }